#section_menu_background{
	background-image: url("../asset/bg/title.jpg");
}

#section2_bg{
	
}

#section3_bg{
	background-image: url("../asset/bg/kim_jestesmy.jpg");
}

#section4_bg{
	background-image: url("../asset/bg/co_robimy.jpg");
}

#section5_bg{
	background-image: url("../asset/bg/nasze_osiagniecia.jpg");
}

#section6_bg{
	background-image: url("../asset/bg/rekrutacja.jpg");
}

#section7_bg{
	background-image: url("../asset/bg/dla_chcacych.jpg");
}