.title-bar{
	position: absolute;
}

.title-bar_text{
	width:70vw;
	margin-right: 30vw;
	margin-top: 5vh;
	font-size: 40px;
	text-align: center;
	padding: 0px;
	color: white;
	overflow: hidden;
}

.side-bar{
	position: absolute;
	right: 5vw;
	width: 25vw;
	min-width:200px;
	height: 100%;
	background-color: rgba(52, 53, 56, 0.6);
	z-index:3;
	font-family: 'Poppins', sans-serif;
}

.side-bar_logo{
	margin-top: 4vh;
	height: 36vh;
	width: 22vw;
	margin-left: auto;
	margin-right: auto;
	z-index: 10;
	perspective: 1000px;
}

.side-bar_logo_image{
	height: 100%;
	width : 17vw;
	background-image: url("../asset/logo/main_logo.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 2;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	
	transform-style: preserve-3d;
	perspective: 100px;
	backface-visibility: visible;
}

.side-bar_menu{
	width: 21vw;
	height: 56vh;
	padding: 2vh 2vw 2vh 2vw;
	font-size: 5vh;
	line-height: 3vh;
}

.side-bar_element{
	color: white;
	font-size: 60%;
	font-weight: 600;
	border-top: 2px solid rgb(89, 89, 89);
	padding-top: 2vh;
	padding-bottom: 2vh;
	padding-left: 1vw;
	padding-right: 1vw;
	text-align: center;
	text-shadow : 2px 2px 10px black;
	line-height: 100%;
}

.side-bar_element:first-child{
	border: 0px;
}
