
.icon-plus:before { content: '\e800'; } /* '' */
.icon-cancel-outline:before { content: '\e801'; } /* '' */
.icon-move-outline:before { content: '\e802'; } /* '' */
.icon-move:before { content: '\e803'; } /* '' */
.icon-resize-small-alt:before { content: '\e804'; } /* '' */