body{
	background-color: #696d72;
	padding: 0px;
	margin: 0px;
}

.section{
	position:relative;
	width: 100vw;
	height: 100vh;
	z-index: 0;
}

.section_viewport{
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.section_background{
	width: 1920px;
	height: 1200px;
	background-image: url("picture.jpg");
    background-position: top left;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.section_background_vignette{
	position: relative;
	width: 100vw;
	height: 100vh;
	box-shadow: inset -1px 1px 15vh 1vh black;
}

.title{
	position: absolute;
	top: 40vh;
	left: 20vw;
}

.title_logo{
	width: 20vw;
	height: 20vh;
	left: 40vw;
	background-image: url("logo.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	position: absolute;
	display: none;
}

.title_text{
	position: absolute;
}

.title_viewport{
	height: 20vh;
	width: 40vw;
	position: absolute;
	left: 20vw;
	overflow: hidden;
}

.title_viewport_image{
	background-image: url("logo2.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 20vh;
	width: 40vw;
	position: absolute;
	left: 40vw;
}

.title_subtitle{
	position: absolute;
	top: 6vh;
	right: -20vw;
}

.title_subtitle_viewport{
	height: 10vh;
	width: 40vw;
	overflow: hidden;
	position: absolute;
}

.title_subtitle_text{
	width:40vw;
	height: 10vh;
	text-align: justify;
	font-size: 2vh;
	top: -20vh;
	position: absolute;
}

.subtitle{
	position: absolute;
	top: 70vh;
	font-size: 10vh;
	color: white;
	overflow: hidden;
	width: 60vw;
	left: 20vw;
	text-align: center;
	display: none;
}